/* CSS Classes of temporary colors to clearly delineate
the components */

.dum {
  min-height: 1000px;
  scroll-margin-top: 4em;
}

.dumHeader {
}

.dumLanding {
}

.dumAbout {
}

.dumSkills {
}

.dumExp {
}

.dumContact {
}

.dumArchive {
  margin-top: 70px;
}

.dumFooter {
  
}

/* adds an interpunct after each tag in the tags section for projects */
/* .tag:not(:last-child):after {
  content: '·';
  color: white;
} */

.tag {
  font-size: 0.75em;
  border-radius: 3px;
  border: 1px solid gray;
  text-transform: uppercase;
}

.card img {
  max-width: 300px;
  height: auto;
}


/* probably important stuff that needs to be kept */
