/*********************************************/
/*        VARIABLES        */
/*********************************************/
$accent1:                           #a00;
$transitionshort:                   0.3s;
$transitionlong:                    0.5s;
@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

/*********************************************/
/*        VARIABLE OVERRIDES        */
/*********************************************/
$body-color:                        #ddd;
$btn-close-height:                  2em;
$btn-close-width:                   2em;
$offcanvas-horizontal-width:        300px;

//fontface
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
$font-family-base:                  "Roboto", Helvetica, Arial, sans-serif;
$headings-font-family:              "Roboto Slab", serif;
$headings-font-weight:              100;

/*********************************************/
/*        IMPORTS        */
/*********************************************/
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/scss/bootstrap";

/*********************************************/
/*        CUSTOM CLASSES        */
/*********************************************/

//links (non-icon)
.nav-link, .archive-link, .skill-button {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $accent1;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  &:hover {
    color: $accent1;
  }

  &:hover::before {
    transform: scaleX(1)
  }
}
.skill-button label, .skill-button label::before {
  transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}
.skill-button input:checked + label {
  color: $accent1;
}

//square button
.link-square-shape {
  height: 40px;
  width: 150px;
  line-height: 40px;
  display: block;
}
.link-square {
  letter-spacing: 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $body-color;
  transition: all 0.3s;
  position: relative;

  &:hover {
    color: #fff;
  }

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $accent1;
    transition: all .35s;
  }

  &:hover:after {
    width: 100%;
  }

  & span {
    position: relative;
    z-index: 1040;
  }
}

//Header component
.navbar-brand {
  color: $accent1;
}

//Landing component
.compLanding {
  height: 100vh;
}

//Footer component
.compFooter h6 a {
  letter-spacing: 0em;
  text-transform: none;
}
